

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: auth_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: demo123
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 512m

  redis:
    image: redis:7
    container_name: redis_server
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6380:6379"
    deploy:
      resources:
        limits:
          memory: 256m

  auth-service:
    build:
      context: .
    container_name: auth_service
    env_file:
      - .env
    command: sh -c "python wait_for_db.py && python manage.py runserver 0.0.0.0:8001"
    volumes:
      - .:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis
    deploy:
      resources:
        limits:
          memory: 1024m

  celery_worker:
    build:
      context: .
    container_name: celery_worker
    env_file:
      - .env
    command: celery -A auth_service worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - auth-service
    deploy:
      resources:
        limits:
          memory: 512m

volumes:
  pg_data:
