services:

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: auth_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: demo123
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6380:6379"

  auth_service:
    build:
      context: .
    container_name: auth_service
    env_file:
      - .env
    command: sh -c "python wait_for_db.py && python manage.py runserver 0.0.0.0:8001"
    volumes:
      - .:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis

  celery_worker:
    build:
      context: .
    container_name: celery_worker
    env_file:
      - .env
    command: celery -A auth_service worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - auth_service
      - db
      - redis

volumes:
  pg_data:
